<h2>LOGIN</h2>
<div class="div__login">
    <form action="/users/login" method="post" id="login">
        <input type="email" placeholder="Email" name="email" required />
        <input type="password" placeholder="Contraseña" name="password" required />
        <button type="submit" form="login">Login</button>
    </form>
</div>