<h2>PROFILE</h2>
<h3 class="profile__name" id="user-name">Bienvenido HARDCODEADO</h3>
<h3 class="profile__name" id="role">Rol: Usuario</h3>
<div class="products__list">
    <h3>Productos</h3>
    <ul id="product-list">
    </ul>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="js/segundapf.js"></script>